<header>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block">
                        <div class="container">
                            <div class="textos" >
                                <h1>Aprende Finanzas y Contabilidad</h1>
                                <h2>Hacemos la web ideal para ti</h2>
                                <a (click)="contacto()" href="#">Contaco</a>
                            </div>
                            <img src="assets/images/finanzas.jpg"  alt="..." >
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-block">
                        <div class="container">
                            <div class="textos" >
                                <h1>Domina diferentes Lenguajes </h1>
                                <h2>Hacemos la web ideal para ti</h2>
                                <a (click)="contacto()" href="#">Contaco</a>
                            </div>
                            <img src="assets/images/ordenador.jpg"  alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block">
                        <div class="container">
                            <div class="textos " >
                                <h1>Aprende a desarrollar Aplicaciones </h1>
                                <h2>Hacemos la web ideal para ti</h2>
                                <a (click)="contacto()" href="#">Contaco</a>
                            </div>
                            <img src="assets/images/aplicaciones moviles.jpg"  alt="...">
                        </div>
                    </div>
                </div>
            </div>
    
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
    
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>
<div class="wave">
    <div style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</div>