<div class="about mt-5">
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <h5>Contactanos</h5>
                <p>Nos encantaría saber de ti. Envíanos tus preguntas o comentarios.</p>
            </div>
            <div class="col mt-4">
                <i class="fas fa-phone-alt"></i>
                <h5>Teléfono</h5>
                <p>321 349 4578</p>
            </div>
            <div class="col mt-4">
                <h5>Direccion</h5>
                <p>Cll 164 # 18c-15 int 4 apto 211 </p>
            </div>

        </div>
    </div>
</div>