<div class="container">
    <h2 class="mb-5" style="text-align: center">¿Por qué Udemy?</h2>
    <div class="row mb-3">
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="far fa-clock"></i>
                    </div>
                </div>
                
                <div class="col align-self-center col-md-8">
                    <h3>Aprovecha tu potencial</h3>
                    <p>Con nuestra metodología de gestión y Creación Empresarial obtendrás las herramientas necesarias para iniciar tu propia empresa y triunfar.</p>
                </div>
            </div>
        </div>
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="far fa-clock"></i>
                    </div>
                </div>
                <div class="col align-self-center col-md-8">
                    <h3>Conveniencia</h3>
                    <p>Acceso 24 horas al día para que aprendas a tu propio ritmo y en español.</p>
                </div>
            </div>
        </div>
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="far fa-user"></i>
                    </div>
                </div>
                <div class="col align-self-center col-md-8">
                    <h3>Confianza</h3>
                    <p>Apoyo privado de tutores online y videochat ‘Tutor Café’ para debatir temas en grupo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                </div>
                <div class="col align-self-center col-md-8">
                    <h3>Calidad</h3>
                    <p>Cursos online desarrollados por líderes de la industria.</p>
                </div>
            </div>
        </div>
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="far fa-id-card"></i>
                    </div>
                </div>
                <div class="col align-self-center col-md-8">
                    <h3>Experiencia</h3>
                    <p>Cientos de horas de ejercicios reales con las que puedes crear o enriquecer tu portafolio</p>
                </div>
            </div>
        </div>
        <div class="col columna">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i class="far fa-thumbs-up"></i>
                    </div>
                </div>
                <div class="col align-self-center col-md-8">
                    <h3>Facilidad</h3>
                    <p>Sin requisitos ni conocimiento previo.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <h1 class="row justify-content-md-center mb-5">¿Por qué Udemy?</h1>
    <div class="row mb-3 ">
        <div class="col text-center align-self-center">
            <h2>Aprovecha tu potencial</h2>
            <p>Con nuestra metodología de gestión y Creación Empresarial obtendrás las herramientas necesarias para iniciar tu propia empresa y triunfar.</p>
        </div>
        <div class="col">
            <img src="assets/images/gallery1z2.jpg" alt="">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="assets/images/gallery1z2.jpg" alt="">
        </div>
        <div class="col text-center align-self-center">
            <h2>Conveniencia</h2>
            <p>Acceso 24 horas al día para que aprendas a tu propio ritmo y en español.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-center align-self-center">
            <h2>Confianza</h2>
            <p>Apoyo privado de tutores online y videochat ‘Tutor Café’ para debatir temas en grupo.</p>
        </div>
        <div class="col">
            <img src="assets/images/gallery1z2.jpg" alt="">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="assets/images/gallery1z2.jpg" alt="">
        </div>
        <div class="col text-center align-self-center">
            <h2>Calidad</h2>
            <p>Cursos online desarrollados por líderes de la industria.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-center align-self-center">
            <h2>Experiencia</h2>
            <p>Cientos de horas de ejercicios reales con las que puedes crear o enriquecer tu portafolio.Aprovecha tu potencial</p>
        </div>
        <div class="col">
            <img src="assets/images/gallery1z2.jpg" alt="">
        </div>
    </div>

</div> -->