<div class="container">
    <h2 class="mb-5" style="text-align: center">¿Por qué Aprender con Nosotros?</h2>
    <div class="row mb-3" *ngFor="let info of information">
        <div class="col columna" *ngFor="let item of info.row">
            <div class="row columna">
                <div class="col align-self-center col-md-4">
                    <div class="icon">
                        <i [class]="item.icono"></i>
                    </div>
                </div>
                
                <div class="col align-self-center col-md-8">
                    <h3>{{ item.titulo }}</h3>
                    <p>{{ item.texto }}</p>
                </div>
            </div>
        </div>
    </div>
</div>