<div class="container">
    <h2 class="mb-5" style="text-align: center">Productos</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/desarrollo web.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Desarrollo Web</h3>
            <h4>Aprende Desarrollo Web con este curso 100% práctico, paso a paso y sin conocimientos previos</h4>
            <p>En este curso aprenderás lo básico de cada tecnología y 
               después integraremos todo junto para hacer diseños increíbles, 
               es decir: crearemos una base sólida y luego veremos como utilizarla 
               sin duda la que considero la mejor forma de aprender.
            </p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/ordenador.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Lenguajes de programación</h3>
            <h4>Aprende las Bases de la Programación en 9 lenguajes a la vez: Java, Python, Go, C++, PHP, Ruby, C#, JavaScript y C</h4>
            <p>En este curso de Fundamentos de Programación aprenderás de forma básica
                y muy completa las nociones más elementales sobre el desarrollo de software. 
                Este curso dará un recorrido completo por todos los conceptos más básicos 
                para aprender a programar, lo cual te permitirá entender cualquier lenguaje 
                gracias a la visión global que adquirirás.
            </p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/aplicaciones moviles.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Aplicaciones móviles</h3>
            <h4>Aprender a programar aplicaciones y juegos para Android de forma profesional y desde cero.</h4>
            <p>Aprende a crear aplicaciones para android desde cero y de forma sencilla con Android Studio y las herramientas más profesionales del momento. En este curso aprenderás:</p>
            <ul>
                <li>Java necesario para el desarrollo en Android</li>
                <li>Desarrollo de Aplicaciones nativas para Android</li> 
                <li>Desarrollo de Juegos para Android</li> 
                <li>y mucho más</li>                
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/videojuegos.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Desarrollo de videojuegos</h3>
            <h4>Aprende a programar videojuegos desde cero a nivel AVANZADO y profesional con Unity® 2019</h4>
            <p>Con este Master estarás preparado para desarrollar y publicar tus propios videojuegos con el motor gratuito Unity® y programando con C#.</p>
            <ul>
                   <li>Empezaremos con la interface de Unity® y la programación desde cero. </li> 

                   <li>Estudiaremos como desarrollar mecánicas de videojuegos básicas y avanzadas.</li> 
                   <li>Diseñaremos niveles de videojuegos en 2D y 3D.</li> 
                   <li>y mucho más</li>
            </ul>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/finanzas.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Contabilidad rápida y eficaz</h3>
            <h4>Con esta técnica veras la contabilidad más fácil, podrás subir tus ingresos y ganar más tiempo libre.</h4>
            
            <p>El curso es una manera práctica de entender la contabilidad financiera. 
                Cuando estudié contabilidad en la universidad no tuve la suerte de tener un método 
                práctico para poder comprenderla fácilmente, tuve que estar en una empresa 
                para sacarle el jugo a este tema, hoy la contabilidad está en todo lo que hago, 
                incluso cuando leí el libro "Padre rico, padre pobre" la contabilidad se mencionaba.
            </p>

        </div>
    </div>
</div>
