<div class="container">
    <h2 class="mb-5" style="text-align: center">Productos</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/desarrollo web.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>informacion</p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/ordenador.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>informacion</p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/aplicaciones moviles.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>informacion</p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/videojuegos.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>informacion</p>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="assets/images/finanzas.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>informacion</p>

        </div>
    </div>
</div>
